* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  pointer-events: none;
}

body {
  background: linear-gradient(90deg, rgb(243, 191, 204), rgb(255, 205, 155));
}

header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
    font-size: 3rem;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;

  input,
  button {
    border: none;
    padding: 0.25rem 0.5rem;
    font-size: 1.75rem;
    margin: 0.1rem;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  button {
    cursor: pointer;
    background-color: #d1e8e4;
    color: white;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  div.todo {
    width: 30vw;
    display: flex;
    align-items: center;
    margin: 0.2rem 0rem;
  }
  p {
    background-color: white;
    color: black;
    padding: 0.25rem 3rem;
    font-size: 1.75rem;
  }

  p.todo-text {
    width: 50%;
  }
  p.todo-time {
    width: 30%;
    text-align: center;
  }

  button {
    padding: 0.4rem 0.5rem;
    font-size: 1.75rem;
    border: none;
    cursor: pointer;
    color: white;
  }
  button.complete {
    background-color: green;
  }
  button.trash {
    background-color: red;
  }

  @keyframes scaleUp {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
}
